/* Smooth transition for dark mode */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* DARK MODE */
body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

/* BACK TO TOP BUTTON */
#backToTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 10px 15px;
  font-size: 1.5rem;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: none; /* hidden by default */
  z-index: 1000;
  transition: background-color 0.3s, transform 0.3s;
}

#backToTop:hover {
  background-color: #333;
  transform: scale(1.1);
}
